<html>

<head>
<title>Add employee</title>
</head>


<body>

	<table border="2" align="center">
		<thead>
			<tr>
				<th>Empolyee Name</th>
				<th>Employee Address</th>
				<th>Employee Email</th>
				<th>Send Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="e : ${employees}">
				<td th:text="${e.emp_name}"></td>
				<td th:text="${e.emp_address}"></td>
				<td th:text="${e.emp_email}"></td>
				<td>
				<a th:href="@{/sendMail/{employee_id}(id = ${e.emp_id})}">Send Mail</a>
				
				</td>
			</tr>
		</tbody>

	</table>

</body>

</html>